build
.gradle
.idea
.vscode
.venv

api/dbFiles

*.bpt
*.dat
*.idn
*.jrnl
*.obj
*.bdf
*.lock
*.db
*.xml
*.jar
*.rdf
*.lck
*.bak_002d
*.crc
*.pyc

frontend/package-lock.json
backend/Modules/IntentSpecification2WorkflowGenerator/api/temp_files
backend/api/datasets/**
backend/api/annotated_datasets/*.ttl
backend/api/ontology/new_triples.tsv


!orm.xml
!persistence.xml
!gradle/wrapper/gradle-wrapper.jar
