task {{task}} {
    {% for input in inputs -%}
    define input data {{input}};
    {% endfor %}
    {% for output in outputs -%}
    define output data {{output}};
    {% endfor %}
    implementation "{{task}}/task.py";
}