import proactive_helper as ph 
{{python_function}}

{% for input in inputs %}
{{input}} = ph.load(variables,'{{input}}')
{%endfor%}

{%- for output in outputs %}{{output}}{% if not loop.last %}, {% endif -%}{% endfor -%}
{%- if outputs|length > 0%} = {% endif %}{{python_function_name}}({%- for input in inputs %}{{input}}{% if not loop.last %}, {% endif -%}{% endfor %})

{%for output in outputs%}
ph.save(variables,{{output}},'{{output}}')
{%endfor%}