workflow {{ workflow_name }} {

    {% for key, step in steps.items() %} 
    define task {{ step["task"] }};{% endfor %}


    START{% for key, step in steps.items() %} -> {{ step["task"] }}{% endfor %} -> END;

    {% for key, step in steps.items() %}
    task {{step["task"] }} {
        implementation "{{ step["implementation"] }}";
    }
    {% endfor %}

    {% for (sourceTask, destinationTask, sourcePort, destinationPort) in data_flow %}
    {{sourceTask}}.output{{sourcePort}} --> {{destinationTask}}.input{{destinationPort}}
    {%endfor%}


    
}