workflow {{ workflow_name }} {

    START{% for task in tasks %} -> {{ task }}{% endfor %} -> END;

    {% for task in tasks %} 
    define task {{task }};{% endfor %}

    {% for input in inputs %}
    define input data file {{input["name"]}};
    configure input data {{input["name"]}} {
        path "{{input["path"]}}";
    }
    {% endfor %}

    {% for output in outputs %}
    define output data file {{output["name"]}};
    configure output data {{output["name"]}} {
        path "{{output["path"]}}";
    }
    {% endfor %}

    {% for (sourceTask, destinationTask, sourcePort, destinationPort) in data_flow %}
    {{sourceTask}}{%if sourcePort is not none%}.output{{sourcePort}}{%endif%} --> {{destinationTask}}{%if destinationPort is not none%}.input{{destinationPort}}{%endif%}
    {%endfor%}
    
}

{% for w in workflows %}
workflow {{w["name"]}} from {{workflow_name}} {
    {% for task, implementation in w["tasks_implementation"] %}
    task {{ task }} {
        implementation "{{ implementation }}";
    }
    {% endfor %}

}
{% endfor %}