workflow {{ workflow_name }} {

    START{% for task in tasks %} -> {{ task }}{% endfor %} -> END;

    {% for task in tasks %} 
    define task {{task }};{% endfor %}

    {% for (sourceTask, destinationTask, sourcePort, destinationPort) in data_flow %}
    {{sourceTask}}.output{{sourcePort}} --> {{destinationTask}}.input{{destinationPort}}
    {%endfor%}
    
}

{% for w in workflows %}
workflow {{w["name"]}} from {{workflow_name}} {
    {% for task, implementation in w["tasks_implementation"] %}
    task {{ task }} {
        implementation "{{ implementation }}";
    }
    {% endfor %}

}
{% endfor %}