{% set ns = namespace(format="") %}
{%- for param, value in parameters %}
{%- if param|trim == 'path' %}
{%- set ns.path = value %}
{%- endif %}
{%- endfor %}

import numpy as np

def {{step_name}}():
    npz_data = np.load("{{ns.path}}", allow_pickle=False)
    files = npz_data.files
    X = npz_data[files[0]]
    Y = npz_data[files[1]]
    return  (X,Y)

