
import {{module}}
import scipy
import re

def {{step_name}}(model,X):

    columns = {{control["columns"]}}
    Xt = X.drop({{control["columns_to_ignore"]}},axis=1)
    pattern = rf"^({'|'.join(columns)})(_.+)?$"
    selected_cols = [c for c in X.columns if re.match(pattern, c)]

    transformed_data = model.transform(Xt)

    feature_names = model.get_feature_names_out()

    projection_columns = [c for c in feature_names if re.match(pattern, c)]

    # Replace original columns
    X = X.drop(columns=selected_cols)
    X = pd.concat([X, transformed_data[projection_columns]], axis=1)
    return X

