@prefix cb: <https://extremexp.eu/ontology/cbox#> .
@prefix dmop: <http://www.e-lico.eu/ontologies/dmo/DMOP/DMOP.owl#> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix sh: <http://www.w3.org/ns/shacl#> .
@prefix tb: <https://extremexp.eu/ontology/tbox#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

cb:{{shape_name}}
    a sh:NodeShape ;
    sh:targetClass dmop:TabularDataset ;

    {%for s in subshapes %}
    cb:guaranteesShape cb:{{s}};
    {%endfor%}

    sh:property [
        a sh:PropertyShape ;
        sh:path dmop:hasColumn ;
        sh:or (
            [
                sh:property [
                    a sh:PropertyShape ;
                    sh:path dmop:isFeature ;
                    sh:hasValue false;
                ]
            ]
            [
                sh:property cb:{{base_shape}};
            ]
        )
        
    ] .
